.sidebar {
	font-size: $font-size-body;
	margin-bottom: 40px;

	@include breakpoint(sm) {
		margin-bottom: 5%;
	}

	.widget {
		background-color: $color-white;
		padding: 40px;

		@include breakpoint(sm) {
			padding: 30px;
			margin-bottom: 5%;
		}
	}
}
