.genesis-skip-link {
	margin: 0;

	li {
		height: 0;
		list-style: none;
		width: 0;
	}

	.skip-link-hidden {

		@include breakpoint(md) {
			display: none;
			visibility: hidden;
		}
	}
}

/* Display outline on focus */
:focus {
	color: $color-primary;
	outline: $color-light solid 1px;
}